---
import ExperienceItem from "../components/ExperienceItem.astro";
import Layout from "../layouts/Layout.astro";
import { EXPERIENCE_DATA } from "../constants/EXPERIENCE";
---

<Layout title="DAYI | About Me">
  <main
    class="max-w-[1400px] mx-auto mt-8 p-8 rounded-xl grid grid-cols-1 xl:grid-cols-[1fr_500px]"
  >
    <section class="flex flex-col p-4 mx-4 rounded">
      <h2
        class="mt-6 mb-10 text-3xl font-bold text-transparent bg-gradient-to-tr w-fit from-indigo-500 to-red-500 bg-clip-text font-Bungee"
      >
        About Me
      </h2>
      <article class="flex flex-col lg:flex-row xl:flex-row 2xl:flex-row">
        <img
          class="object-cover mx-0 my-4 rounded-md lg:mx-6 aspect-square size-52 -rotate-6"
          src="images/about-photo.webp"
          alt=""
        />
        <p class="mx-0 text-lg lg:mx-6">
          My full name is <span class="font-semibold text-orange-500"
            >Danilo José Arenas Yi</span
          > 18 years old, born in Venezuela, and currently living in Cartagena de
          Indias.
          <br />
          <br />
          I am passionate about technology and development, committed to my personal
          and professional growth through new challenges and experiences that constantly
          push me to improve. I strongly believe in the importance of maintaining
          a self-driven approach, always seeking to acquire knowledge proactively.
          <br />
          <br />
          Furthermore, I adopt a critical and objective perspective when facing each
          challenge. If given the opportunity, I am dedicated to working with full
          commitment and effort, exceeding expectations and delivering far more than
          anticipated.

          <br />
          <br />
          <a class="text-lg font-semibold text-indigo-600" href="CV.pdf"
            >See my CV here! 👈</a
          >
        </p>
      </article>
    </section>
    <section class="flex flex-col items-center justify-center p-4 mx-4 rounded">
      <h2
        class="my-6 text-3xl font-bold text-transparent bg-gradient-to-tr w-fit from-indigo-500 to-green-500 bg-clip-text font-Bungee"
      >
        Experience
      </h2>
      <article class="p-3 max-h-[500px] overflow-y-auto my-6 w-full">
        <ol
          class="relative border-gray-200 border-s h-fit dark:border-gray-700"
        >
          {EXPERIENCE_DATA.map((exp) => <ExperienceItem {...exp} />)}
        </ol>
      </article>
    </section>
  </main>
</Layout>
