---
import Layout from "../layouts/Layout.astro";
import CardProject from "../components/CardProject.astro";
import { PROJECTS_DATA } from "../constants/PROJECTS";
---

<Layout title="DAYI | Projects">
  <div class="grid grid-cols-1 max-w-[85%] mt-10 mx-auto p-8 rounded-xl">
    <main class="flex flex-col col-span-1 p-4">
      <h3
        class="text-3xl font-bold text-transparent font-Bungee bg-gradient-to-tr from-red-600 to-orange-500 bg-clip-text mb-4 t w-fit"
      >
        Projects
      </h3>
      <section
        class="my-4 py-4 pe-4 grid gap-4 overflow-y-auto scroll-smooth max-h-[600px]
        sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
        id="projects"
      >
        {PROJECTS_DATA.map((project) => <CardProject {...project} />)}
      </section>
    </main>
  </div>
</Layout>
